@import url("carte_recette.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", cursive;
}
#logo {
    margin-left: 40%;
    width: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*......................BARRE DE RECHERCHE GLOBALE..................*/
.barre_recherche {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 69px;
    margin-left: 100px;
    background: #e7e7ee;
}
    .barre_champ {
        display: flex;
        width: 1000px;
        height: 40px;
        border: none;
        color: gray;
        margin-left: 30px;
        background: #e7e7ee;
        font-size: 18px;
    }
    .barre_recherche i {
        margin-right: 30px;
        font-size: 25px;
    }
.champ_mot_cle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 107px;
    height: 37px;
    background-color: #3282F7;
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 20px;
}
    .mot_cle {
        color: white;
        font-size: 20px;
        border: white solid;
        width: 70px;
        height: 20px;
        margin-right: 5px;
    }
    .champ_mot_cle i {
        color: white;
        font-size: 20px;
    }

/*......................BOUTON DE FILTRE....................*/    
.menu_recherche {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 100px;
}
    .global_ingredients, .global_appareils, .global_ustensiles {
        width: 100%;
    }

        .btn_ingredients, .btn_appareils, .btn_ustensiles { /*regroupe titre ingrédients et icone chevron*/
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 5px;
            margin-top: 10px;
            width: 70%;
            height: 50px;
            color: white;
            font-size: 18px;
        }
    
        .btn_ingredients, .liste_ingredients, .detail_ingredients {
            background-color: #3282F7;
        }
        .btn_appareils, .liste_appareils, .detail_appareils {
            background-color: #68d9a4;
        }
        .btn_ustensiles, .liste_ustensiles, .detail_ustensiles {
            background-color: #ed6454;
        }
        
        .liste_ingredients, .liste_appareils, .liste_ustensiles { /*regroupe input et close et tous les ingredients*/
            color: white;
            width: 37%;
            height: 610px;
            margin-top: 10px;
            border-radius: 5px;
            position: absolute;
            transform: translateY(-60px);
            display: none;
        }
    
            .input_close { /*regroupe input et close uniquement*/
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
                .detail_ingredients, .detail_appareils, .detail_ustensiles { /*input uniquement*/
                    width: 80%;
                    height: 50px;
                    font-size: 18px;
                    margin-left: 18px;
                    padding-left: 10px;
                    margin-top: 10px;
                }
            .container{ /*regroupe ul et li*/
                height: 545px;
                width: 100%;
                padding-top: 10px;
            }
                .ingredients, .ustensiles, .appareils {  /*ul qui regroupe les li*/
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: 60px;
                }
                    .ingredients li, .ustensiles li, .appareils li{
                    width: 30%;
                    height: 30px;
                    list-style-type: none;
                    font-size: 18px;
                    color: white;
                }